In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-05-19 17:40:55,-23.1203,-134.9692,76.60,78,99,13.22
1,1,Pevek,RU,2022-05-19 17:37:15,69.7008,170.3133,31.59,99,100,2.53
2,2,Port Alfred,ZA,2022-05-19 17:40:55,-33.5906,26.8910,60.19,95,95,5.01
3,3,Thompson,CA,2022-05-19 17:40:55,55.7435,-97.8558,39.36,52,75,13.80
4,4,Khatanga,RU,2022-05-19 17:40:56,71.9667,102.5000,21.61,93,95,7.52

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-05-19 17:40:55,-23.1203,-134.9692,76.60,78,99,13.22
5,5,Monrovia,LR,2022-05-19 17:37:56,6.3005,-10.7969,81.39,79,83,7.14
8,8,Bengkulu,ID,2022-05-19 17:40:57,-3.8004,102.2655,76.35,88,65,3.27
9,9,Sao Miguel Do Araguaia,BR,2022-05-19 17:40:58,-13.2750,-50.1628,78.62,19,55,8.21
10,10,Itarema,BR,2022-05-19 17:40:58,-2.9248,-39.9167,83.61,72,65,6.73
18,18,Pandan,PH,2022-05-19 17:41:02,14.0453,124.1694,79.43,87,71,6.04
23,23,Isangel,VU,2022-05-19 17:41:04,-19.5500,169.2667,76.78,90,100,19.69
24,24,Puerto Del Rosario,ES,2022-05-19 17:41:05,28.5004,-13.8627,78.55,53,20,17.27
27,27,Kumta,IN,2022-05-19 17:41:06,14.4167,74.4000,75.02,87,100,3.60
28,28,Kampong Thum,KH,2022-05-19 17:41:06,12.7111,104.8887,76.53,93,99,1.01

In [19]:
preferred_cities_df.count()

City_ID       159
City          159
Country       159
Date          159
Lat           159
Lng           159
Max Temp      159
Humidity      159
Cloudiness    159
Wind Speed    159
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                      City Country  Max Temp      Lat       Lng Hotel Name
0                  Rikitea      PF     76.60 -23.1203 -134.9692
5                 Monrovia      LR     81.39   6.3005  -10.7969
8                 Bengkulu      ID     76.35  -3.8004  102.2655
9   Sao Miguel Do Araguaia      BR     78.62 -13.2750  -50.1628
10                 Itarema      BR     83.61  -2.9248  -39.9167
18                  Pandan      PH     79.43  14.0453  124.1694
23                 Isangel      VU     76.78 -19.5500  169.2667
24      Puerto Del Rosario      ES     78.55  28.5004  -13.8627
27                   Kumta      IN     75.02  14.4167   74.4000
28            Kampong Thum      KH     76.53  12.7111  104.8887

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [30]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,76.60,-23.1203,-134.9692,People ThankYou
5,Monrovia,LR,81.39,6.3005,-10.7969,Sunset Inn
8,Bengkulu,ID,76.35,-3.8004,102.2655,Grage Hotel Bengkulu
9,Sao Miguel Do Araguaia,BR,78.62,-13.2750,-50.1628,Hotel Executivo Palace
10,Itarema,BR,83.61,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
18,Pandan,PH,79.43,14.0453,124.1694,Bonifacio Lodge
23,Isangel,VU,76.78,-19.5500,169.2667,Tanna Lodge
24,Puerto Del Rosario,ES,78.55,28.5004,-13.8627,Hotel JM Puerto del Rosario
27,Kumta,IN,75.02,14.4167,74.4000,Hotel Vaibhav Palace
28,Kampong Thum,KH,76.53,12.7111,104.8887,Sambor Village Hotel

In [40]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [42]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]